:root {
    --background: #121519;
    --backgroundVentana: #1B222D;


    --colorBorder: rgba(255, 255, 255, 0.1);
    --color: #149FFE;
    --colorOpaco: #606060;
    --colorWhiteM: #D7D7D7;


    --boxShadow: 11px 14px 35px 9px rgba(0,0,0,0.28)
}