:root {
    /*THEME DARK - PRINCIPAL*/
    --background: #121519;
    --backgroundVentana: #1A1E23;
    --backgroundAnimate: #1A1E23;
    --backgroundSearch: #1F252D;
    --backgroundhover:#fdfdfd;


    --imagesComentSVG: url('images/icons/commentD.svg');
    --imagesInactiveLikeSVG: url('images/icons/heart-inactive.svg');
    --imagesInactiveLikeSVG: url('images/icons/heart-inactiveDark.svg');

    
    
    /*THEME LIGHT - PRINCIPAL*/
    /* --background: #EDF2F7;
    --backgroundVentana: #F7FAFC;
    --backgroundSearch: #D7D7D7;  */
    
    /*THEME SEMI-DARK*/
    /* --background: #151728;
    --backgroundVentana: #0D0E18;
    --backgroundSearch: #0E0F1A; 
    --backgroundAnimate: #1A1D34;  */

    --colorIndicadores: #999;
    --colorBorder: rgba(255, 255, 255, 0.041);
    --color: #149FFE;
    --colorBefore: #64c1ff;
    --colorCO: #005FA0;
    --colorOpaco: #606060;
    --colorWhiteM: #D7D7D7;
    --colorWhiteImportant: #D7D7D7;


    --boxShadow: 11px 14px 35px 9px rgba(0,0,0,0.28)
}